@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #b070eb;
  --primary-color-dark: #9333ea;
  --secondary-color: rgb(134, 20, 226)7;
  --text-dark: #000000;
  --text-light: #00b412;
  --extra-light: #fafafa;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}


ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  font-weight: 600;
}

.title__perfil {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.perfil__description {
  font-size: 18px;
  line-height: 1.5;
}


.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.contrate__me {
  background-color: var(--primary-color);
  color: var(--text-dark);
}

.contato_botao {
    background-color:var(--primary-color);
    color: var(--text-dark);
    width: 50vh;
}

.projetos_botao {
    background-color: var(--primary-color);
    color: var(--text-dark);
    width: 50vh;
}

.action__btns {
  padding-bottom: 20px;
}

.portfolio {
  color: var(--primary-color);
}

.section__container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 50px;
  }
  
  .image {
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
  }
  
  .image img {
    max-width: 100%;
    height: 105;
  }

  img.image2 {
    width: 70vh;
    height: 40vh;
    position: absolute; /* Define a posição absoluta */
    left: 10; /* Posiciona a imagem no canto esquerdo */
}

.container-projetos {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
}

.div-image2 {
  display: flex;
  justify-content: space-between;
}

.image2 {
  display: flex;
  justify-content: space-around;
}

  .image3{
    width: 100%;
    height: 50vh;
  }

  .footer {
    background-color:var(--primary-color);
    color:var(--text-dark);
    padding: 20px; 
    text-align: center; 
  }
  
  .footer__content {
    max-width: 1200px; 
    margin: 0 auto; 
  }

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul li a {
    font-size: 1.25rem;
  }
}