@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #734945;
    color: beige;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: linear-gradient(322deg, rgba(166,140,138,1) 0%, rgba(255,242,238,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.logo{
    font-size: 25px;
    color:  #734945;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 18px;
    color:  #734945;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
    transition: 3s;

}

.navbar a:hover,
.navbar a:active{
    color: rgb(240, 26, 186);
}
  
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
   
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(170, 10, 10);
}

.home-contentb p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content btn-box{
    display: flex;
    justify-content: space-around;
    width: 345px;
    height: 50px;
    background: #734945;
}

.btn-box a{
    align-items: center;
    display: inline-flex;
    width: 150px;
    height: 50px;
    background: rgb(214, 214, 21);
    border: 2px solid rgb(42, 223, 132);
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: -1;
    overflow: hidden;

}

.btn-box a:nth-child(2){
    background: transparent;
    color:rgb(209, 111, 30);
}

.btn-box a::before{
    content: '';
    position: relative ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;

}

.btn-box a:nth-child(2)::before{
    background: green;
}

.btn-box a:nth-child(2):hover{
    color: rgb(192, 226, 43);
}